package server

import (
	"github.com/Tsukikage7/servex/v2/middleware/logging"
	"github.com/Tsukikage7/servex/v2/middleware/recovery"
	"github.com/Tsukikage7/servex/v2/observability/logger"
	"github.com/Tsukikage7/servex/v2/transport"
	"github.com/Tsukikage7/servex/v2/transport/grpcserver"
)

// NewGRPC 创建 gRPC 服务器.
func NewGRPC(cfg transport.GRPCConfig, log logger.Logger) transport.Server {
	opts := []grpcserver.Option{
		grpcserver.WithLogger(log),
		grpcserver.WithConfig(cfg),
	}
	if cfg.Runtime.Recovery {
		opts = append(opts,
			grpcserver.WithUnaryInterceptor(recovery.UnaryServerInterceptor(recovery.WithLogger(log))),
			grpcserver.WithStreamInterceptor(recovery.StreamServerInterceptor(recovery.WithLogger(log))),
		)
	}
	if cfg.Logging.Enabled {
		loggingOpts := []logging.Option{
			logging.WithLogger(log),
			logging.WithSkipPaths(cfg.Logging.SkipPaths...),
		}
		opts = append(opts,
			grpcserver.WithUnaryInterceptor(logging.UnaryServerInterceptor(loggingOpts...)),
			grpcserver.WithStreamInterceptor(logging.StreamServerInterceptor(loggingOpts...)),
		)
	}

	srv := grpcserver.New(opts...)

	// TODO: 注册 gRPC 服务
	// srv.Register(myService)

	return srv
}
