package main

import (
	"github.com/Tsukikage7/servex/v2/observability/logger"
{{- range .AllComponents}}{{if .Alias}}
	{{.Alias}} "{{.Import}}"
{{- else}}
	"{{.Import}}"
{{- end}}{{end}}
)

// Config 服务配置.
type Config struct {
	Name   string        `yaml:"name" mapstructure:"name"`
	Logger logger.Config `yaml:"logger" mapstructure:"logger"`
{{- range .AllComponents}}{{if .ConfigField}}
	{{.ConfigField}}
{{- end}}{{end}}
}
