//go:build wireinject

package main

import (
	"github.com/google/wire"

	"{{.Module}}/internal/server"
	"github.com/Tsukikage7/servex/app"
	"github.com/Tsukikage7/servex/observability/logger"
{{- range .Infra}}{{if .Alias}}
	{{.Alias}} "{{.Import}}"
{{- else}}
	"{{.Import}}"
{{- end}}{{end}}
)

func initApp() (*app.Application, error) {
	wire.Build(
		providerSet,
	)
	return nil, nil
}

var providerSet = wire.NewSet(
	// server providers
	server.NewHTTP,
{{- if .WithGRPC}}
	server.NewGRPC,
{{- end}}
	// logger providers
	logger.MustNewLogger,
{{- range .Infra}}
	// {{.DisplayName}} providers
{{- if eq .Key "mysql"}}
	rdbms.NewDatabase,
{{- else if eq .Key "postgres"}}
	rdbms.NewDatabase,
{{- else if eq .Key "sqlite"}}
	rdbms.NewDatabase,
{{- else if eq .Key "redis"}}
	srvredis.NewClient,
{{- else if eq .Key "mongo"}}
	mongodb.NewClient,
{{- else if eq .Key "es"}}
	elasticsearch.NewClient,
{{- else if eq .Key "clickhouse"}}
	clickhouse.NewClient,
{{- else if eq .Key "neo4j"}}
	srvneo4j.NewClient,
{{- end}}
{{- end}}
)
