//go:build wireinject

package main

import (
	"github.com/google/wire"

	"github.com/Tsukikage7/servex/v2/app"
)

func initApp() (*app.Application, func(), error) {
	panic(wire.Build(appSet))
}

var appSet = wire.NewSet(
	newConfig,
	newLogger,
{{- range .AllComponents}}
	{{.NewFunc}},
{{- end}}
	newApp,
)
