name: {{.Name}}
version: 1.0.0

http:
  addr: ":8080"
  read_timeout: 10s
  write_timeout: 10s
  idle_timeout: 120s
  runtime:
    recovery: true
  logging:
    enabled: true
    skip_paths:
      - /healthz
{{if .WithGRPC}}
grpc:
  addr: ":9090"
  enable_reflection: true
  runtime:
    recovery: true
  logging:
    enabled: true
    skip_paths:
      - /grpc.health.v1.Health/Check
{{end}}
{{if .WithGateway}}
gateway:
  name: {{.Name}}-gateway
  version: 1.0.0
  grpc:
    addr: ":9090"
    enable_reflection: true
  http:
    addr: ":8080"
    read_timeout: 10s
    write_timeout: 10s
    idle_timeout: 120s
  runtime:
    recovery: true
    response: true
  logging:
    enabled: true
    skip_paths:
      - /healthz
      - /metrics
      - /grpc.health.v1.Health/Check
  tracing:
    enabled: false
  metrics:
    enabled: false
    path: /metrics
    namespace: {{.Name | toSnakeCase}}
  cors:
    enabled: false
{{end}}
observability:
  service:
    name: {{.Name}}
    version: 1.0.0
    environment: local
  logger:
    level: info
    format: console
    output: console
  tracing:
    enabled: false
    sampling_rate: 1
    exporters: []
  metrics:
    enabled: false
    interval: 60s
    exporters: []
  instrumentations:
    default_enabled: true
    overrides:
      websocket: true
      goim: true
{{range .Infra}}
{{.ConfigYAML}}
{{end}}
