//go:build wireinject

package main

import (
	"github.com/google/wire"

	"{{.Module}}/services/{{.Name}}-service/internal/port"
	"github.com/Tsukikage7/servex/v2/app"
	"github.com/Tsukikage7/servex/v2/observability/logger"
{{- range .AllComponents}}{{if .Alias}}
	{{.Alias}} "{{.Import}}"
{{- else}}
	"{{.Import}}"
{{- end}}{{end}}
{{- range .AllComponents}}{{range .BlankImports}}
	_ "{{.}}"
{{- end}}{{end}}
)

func initApp() (*app.Application, func(), error) {
	panic(wire.Build(providerSet))
}

var providerSet = wire.NewSet(
	provideConfig,
	provideLogger,
{{- range .AllComponents}}
	{{.ProviderFunc}},
{{- end}}
	port.NewHTTP,
{{- if .WithGRPC}}
	port.NewGRPC,
{{- end}}
{{- if .WithGateway}}
	port.NewGateway,
{{- end}}
	provideApp,
)
