package {{.NameLower}}

import (
{{- if .NeedsTime}}
	"time"
{{- end}}

	"github.com/Tsukikage7/servex/domain"
)

// {{.Name}}CreatedEvent {{.Name}}创建事件.
type {{.Name}}CreatedEvent struct {
	domain.BaseEvent
	ID {{.IDType}}
{{- range .NonIDFields}}
	{{.Name}} {{.Type}}
{{- end}}
}
{{- if .HasCommands}}
{{range .Commands}}

// {{$.Name}}{{.EventName}}Event {{$.Name}}{{.EventName}}事件.
type {{$.Name}}{{.EventName}}Event struct {
	domain.BaseEvent
	ID {{$.IDType}}
}
{{- end}}
{{- end}}
