package {{.NameLower}}

import (
	"context"
	"net/http"

	"google.golang.org/grpc/codes"

	errors "github.com/Tsukikage7/servex/v2/errors"
)

// ErrNotFound {{.Name}}未找到.
var ErrNotFound = errors.New(40001, "{{.NameLower}}.not_found", "{{.NameLower}} 不存在").WithHTTP(http.StatusNotFound).WithGRPC(codes.NotFound)

// Repository {{.Name}}仓储接口.
type Repository interface {
	FindByID(ctx context.Context, id {{.IDType}}) (*{{.Name}}, error)
{{- range .UniqueFields}}
	FindBy{{.Name}}(ctx context.Context, {{.CamelName}} {{.Type}}) (*{{.Name}}, error)
{{- end}}
	List(ctx context.Context, filter {{.Name}}Filter, offset, limit int) ([]*{{.Name}}, int64, error)
	Save(ctx context.Context, aggregate *{{.Name}}) error
	Delete(ctx context.Context, id {{.IDType}}) error
}

// {{.Name}}Filter 查询过滤条件.
type {{.Name}}Filter struct {
{{- range .NonIDFields}}
	{{.Name}} *{{.Type}} // nil 表示不过滤
{{- end}}
}
